body{
    background:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
#header{
    margin:0 auto;
}
.nav{
    font-size:14px;
    background:#2d2d2d;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    margin:0 5px;
}
.nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.nav ul li{
    display:inline;
}
.nav ul li a{
    display:inline-block;
    color:#f2f2f2;
    padding:10px;
    text-decoration:none;
}
h2{
    font-size:16px;
    font-weight:bold;
    color:#9b9b9b;
    border:#aaaaaa 1px dashed;
    padding:5px;
    margin:0 5px;
}
p{
    font-size:12px;
    color:#2d2d2d;
    margin:5px;
    line-height:20px;
}
.nav2{
    font-size:14px;
    background:#2d2d2d;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    margin:0 5px;
}
.nav2 p{
    text-align:center;
    color:#f2f2f2;
    padding:5px 0;
}
.clear{
    clear:both;
}